@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500;600&display=swap');


@font-face{
    font-family: Didot;
    src: url(./fonts/Didot.otf);
}

@font-face{
    font-family: Gambetta;
    src: url(./fonts/Gambetta.otf);
}

@font-face{
    font-family: Harmony;
    src: url(./fonts/Harmony.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    height: 200vh;
}

body{
    max-height: 200vh;
    background-color: #111755;
}

@media only screen and (max-width: 600px) and (min-width: 400px){
    body{
        max-width: 100%;
    }
}

.navbar{
    width: 100%;
    max-height: 80px;
    background-color: #111755;
    border-radius: 10px;
}

@media screen and (max-width: 1231px) {
    .logo_container{
        padding-left: 40px;
    }
}

.logo_container{
    max-width: 280px;
    max-height: 60px;
    display: flex;
    margin: auto;
    position: relative;
}

#logo{
    width: 45px;
    height: 44px;
    position: relative;
    left: -592px;
    top: 42px;
}

@media screen and (max-width: 600px) and (min-width: 400px){
    #logoh1{
        opacity: 0;
    }
    .logo_container{
        
    }
}



#logoh1{
    position: relative;
    left: -540px;
   top: -12px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
}

.navbar__items{
    display: inline-block;
    position: relative;
    top: -37px;
    margin-left: 70px;
    left: 330px;
    text-decoration: none;
}

ul li{
    display: inline-block;
    padding-top: 30px;
    padding-left: 100px;
    font-size: 1.5em;
    font-weight: 700;
}

ul li a{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    transition: all .5s ease;
}
ul li a:hover {
   color: grey;
  }




.hero-h1{
    font-size: 50px;
  text-transform: uppercase;
  font-family: Gambetta, serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #fff;
  outline: none;
  text-align: center;
  margin: 0 100px;
  margin-top: 130px;
}

#special-font-word1{
    font-family: Harmony;
    font-size: 70px;
}

#special-font-word2{
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
    font-style: bolder;
}

#glow-text1{
   animation: animate_glow 1s infinite;
}

@keyframes animate_glow{
    0%{
        text-shadow: 0 0 0px #4F95DA;
    }
    50%{
        text-shadow: 0 0 22px #4F95DA;
    }
    100%{
        text-shadow: 0 0 0px #4F95DA;
    }
}

.hero-h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
    cursor: pointer;
  }
.hero-p{
    color: #fff;
    font-size: 25px;;
    font-family: Gambetta;
    text-align: center;
    margin-top: 20px;
}

.buttons {
    position: relative;
    top: 500px;
    text-align: center;
    border-radius:30px;
  }
  

  
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    left: 740px;
    top: 50px;
    font-family: 'Nunito', sans-serif;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

#scroll-dwn-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    outline: none;
    position: relative;
    float: right;
    right: 50px;
    top: 75px;
    cursor: pointer;
}

#img_scrolldwn{
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

/*  Section 2 Hero */

.section__2{
    margin-top: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
}

.section2__container{
}
