@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500;600&display=swap');


@font-face{
    font-family: Didot;
    src: url(./fonts/Didot.otf);
}

@font-face{
    font-family: Gambetta;
    src: url(./fonts/Gambetta.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    max-height: 100%;
    background-color: #111755;
}

.navbar{
    width: 100%;
    max-height: 80px;
    background-color: #111755;
    border-radius: 10px;
}

.logo_container{
    max-width: 280px;
    max-height: 60px;
    display: flex;
    margin: auto;
    position: relative;
    top: -15px;
    right: 40px;
}

#logo{
    width: 75px;
    height: 74px;
    position: relative;
    left: -640px;
    top: 29px;
}

#logoh1{
    position: relative;
    left: -540px;
   top: -45px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
}

#nav_items_container{
    width: 40%;
    height: 80px;
    position: relative;
    top: -65px;
}

.navbar__items{
    display: inline-block;
    position: relative;
    top: -53px;
    margin-left: 70px;
    left: 330px;
    text-decoration: none;
}

ul li{
    display: inline-block;
    padding-top: 30px;
    padding-left: 100px;
    font-size: 1.5em;
    font-weight: 700;
}

ul li a{
    color: #D9D9D9;
    font-family: 'Nunito', sans-serif;
}
ul li a:hover {
    color: rgb(14, 151, 201);
   box-shadow: 0 rgba(0, 179, 255, 0.4);
  }




.hero-h1{
    font-size: 50px;
  text-transform: uppercase;
  font-family: Gambetta, serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #fff;
  outline: none;
  text-align: center;
  margin: 0 100px;
  margin-top: 130px;
}

.hero-h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
    cursor: pointer;
  }
.hero-p{
    color: #fff;
    font-size: 25px;;
    font-family: Gambetta;
    text-align: center;
    margin-top: 20px;
}

.buttons {
    position: relative;
    top: 500px;
    text-align: center;
    border-radius:30px;
  }
  

  
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    left: 740px;
    top: 50px;
    font-family: 'Nunito', sans-serif;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }